html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin:0;
	padding:0;
	font-size:15px;
	font:inherit;
	border:none;
	outline:none;
	background:none;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
button {
	cursor:pointer;
}

/* range */
input[type="range"] {
	-webkit-appearance:none;
	vertical-align:middle;
	outline:none;
	border:none;
	padding:0;
	background:none;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color:#d7dbdd;
	height:6px;
	border-radius:3px;
	border:1px solid transparent;
}

input[type="range"]::-moz-range-track {
	background-color:#d7dbdd;
	height:6px;
	border-radius:3px;
	border:none;
}

input[type="range"]::-ms-track {
	color:transparent;
	border:none;
	background:none;
	height:6px;
}

input[type="range"]::-ms-fill-lower { 
	background-color:#d7dbdd;
	border-radius:3px;
}

input[type="range"]::-ms-fill-upper { 
	background-color:#d7dbdd;
	border-radius:3px;
}

input[type="range"]::-ms-tooltip {
	display:none;
}

input[type="range"]::-moz-range-thumb {
	border-radius:20px;
	height:18px;
	width:18px;
	border:none;
	background:none;
	background-color:#606670;
}

input[type="range"]:active::-moz-range-thumb {
	outline:none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none !important;
	border-radius:100%;
	background-color:#606670;
	height:18px;
	width:18px;
	margin-top:-7px;
}

input[type="range"]:active::-webkit-slider-thumb {
	outline:none;
}

input[type="range"]::-ms-thumb { 
	border-radius:100%;
	background-color:#606670;
	height:18px;
	width:18px; 
	border:none;
}

input[type="range"]:active::-ms-thumb {
	border:none;
}
